body {
    font-family: sans-serif;
}
body {
   
    
    font-family: sans-serif;
    background-color: coral;
}
a{
    text-decoration: none;
    color: white;
}
h1{
text-align: center;
    
    color: white;
}
p{
      text-decoration: none;
    color: white;
}
footer{
      text-decoration: none;
    color: white;
}
li{
     text-decoration: none;
    color: white;
}
